Coupon Form
<%= form_tag coupon_path do %>
  <label>Coupon Code:</label><br>
  <%= text_field_tag :'coupon_code' %><br>

  <label>Post description:</label><br>
  <%= text_area_tag :'store' %><br>

  <%= submit_tag "Submit Post" %>
<% end %>
